#hero-table-div {
  width: 80%;
}

#hero-icons-table {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 6px;
}

caption,
th {
  text-align: left;
  text-decoration: underline;
  font-size: 30pt;
  font-weight: bold;
}

.hero-icons {
  margin: 3px;
  padding: 4px;
  border: 3px solid black;
  width: 70px;
  height: 70px;
}

.hero-icons:hover {
  padding: 2px;
  border: 3px solid red;
}

#main-pic-header {
  text-align: center;
}

#main-pic {
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
}
